@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SUSE', sans-serif;
    background-color: rgba(252, 247, 55, 0.5);
    max-width: 1140px;
    max-height: 700px;
}

.suse-light {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.suse-bold {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 25px;
    height: 600px;
    width: 900px;
    background-color: rgb(202, 199, 249);
    box-shadow: rgba(105, 99, 165, 0.35) 0px 5px 15px;;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    align-items: center;
    width: 100%;
}

.filed-form-label {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 30px;
}

.field-form-input {
    grid-area: 2 / 1 / 3 / 3;
    margin: auto;
    background-color:#fff;
    width: 80%;
    height: 50px;
    outline: none;
    font-size: 35px;
    border-radius: 25px;
    padding-inline: 15px;
}

.button {
    grid-area: 3 / 1 / 4 / 2; 
    margin: auto;
    font-size: 24px;
    border: none;
    width: 80%;
    height: 45px;
    border-radius: 15px;
    font-family: 'SUSE', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: rgb(162, 158, 215); 
    box-shadow:
    rgba(162, 158, 215, 0.10) 1px 2px,
    rgba(162, 158, 215, 0.08) 2px 3px,
    rgba(162, 158, 215, 0.06) 3px 4px,
    rgba(162, 158, 215, 0.04) 4px 5px;
    cursor: pointer;
    transition: all .2s;
}

.button:last-child {
    grid-area: 3 / 2 / 4 / 3;
}

.result {
    font-size: 25px;
}