@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SUSE', sans-serif;
    background-color: rgba(252, 247, 55, 0.5);
    max-width: 1000px;
    max-height: 700px;
}

.suse-light {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.suse-bold {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    margin: 50px;
    max-height: 600px;
    height: 100%;
    max-width: 900px;
    width: 100%;
    background-color: rgb(202, 199, 249);
    box-shadow: rgba(105, 99, 165, 0.35) 0px 5px 15px;;
}

.title {
    font-size: clamp(25px, 1.99vw, 50px);
}

.form-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.filed-form-label {
    font-size: 30px;
}

.field-form-input {
    margin: auto;
    background-color:#fff;
    width: 80%;
    height: 50px;
    outline: none;
    font-size: 35px;
    border-radius: 25px;
    padding-inline: 15px;
}

.button {
    margin: auto;
    font-size: 24px;
    border: none;
    width: 80%;
    height: 45px;
    border-radius: 15px;
    font-family: 'SUSE', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: rgb(162, 158, 215); 
    box-shadow:
    rgba(162, 158, 215, 0.10) 1px 2px,
    rgba(162, 158, 215, 0.08) 2px 3px,
    rgba(162, 158, 215, 0.06) 3px 4px,
    rgba(162, 158, 215, 0.04) 4px 5px;
    cursor: pointer;
    transition: all .2s;
}

.button:hover {
    background-color: rgb(133, 128, 190);
}

.button:active {
    background-color: rgb(105, 99, 165);
    box-shadow: none;
}

.result {
    font-size: clamp(20px, 1vw, 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.result-check,
.result-help,
.result-count {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    align-items: center;
    width: 100%;
}

@media (max-width: 760px) {
    .form-wrapper {
        width: 90%;
    }
    .result {
        row-gap: 15px;
    }
}